<div class="tr-breadcrumb bg-image section-before">
  <div class="container">
    <div class="breadcrumb-info text-center">
      <div class="page-title banner-content ">
        <h1>Job Vacancies</h1>
      </div>
    </div>
  </div>
</div>

 <!-- render partial: "jobs/filters" %> -->
 <!-- render partial: "jobs/four_column" %> -->
<%= render partial: "jobs/two_column" %>

<%= render partial: "pages/add_resume_banner" %>
