<div class="tr-cta section-padding">
	<div class="container">
		<div class="cta-content section">
			<div class="cta-info">
				<!-- <div class="pull-left"> -->
          <div class="row">
            <div class="col-12 col-md-8 text-center">
		          <h4>Add your resume and let your next job find you.</h4>
            </div>
            <div class= "col-12 col-md-4">
              <a href="#" class="btn btn-primary pull-right">Add Your Resume</a>
            </div>
          </div>
				<!-- </div> -->
			</div>
		</div><!-- /.cta-content -->
	</div><!-- /.container -->
</div><!-- /.tr-cta -->
