.tr-category.section-padding
  .container
    .cta-content.section
      .cta-info
        .pull-left
          %h1 Add your resume and let your next job find you.
        .btn.pull-right#resume_btn= link_to "Add Your Resume", resumes_new_path
    / /.cta-content
  / /.container
/ /.tr-cta
