.tr-cta
  .container
    .cta-content.section
      .cta-info
        .pull-left
          %h1 Add your resume and let your next job find you.
        %a.btn.btn-primary.pull-right{:href => "#"} Add Your Resume
    / /.cta-content
  / /.container
/ /.tr-cta
