.tr-fun-fact.section-padding
  .container
    .fun-fact-content
      .row.text-center
        .col-sm-4
          .fun-fact
            %img.img-responsive=image_tag "fun-fact1.png"
            %h1.counter 1500
            %span Jobs placed
            -# %p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-sm-4
          .fun-fact
            %img.img-responsive=image_tag "fun-fact2.png"
            %h1.counter 60
            %span Total Companies
            -# %p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-sm-4
          .fun-fact
            %img.img-responsive=image_tag "fun-fact3.png"
            %h1.counter 24
            %span Offices Worldwide
            -# %p Lorem ipsum dolor sit amet, consectetur adipisicing elit
      / /.row
    / /.fun-fact-content
  / /.container
/ /.tr-fun-fact
