<div class="tr-steps bg-image section-padding section-before">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="step">
					<div class="step-image">
						<%= image_tag ("step1.png"), class:"img-responsive"%>
					</div>
					<h1>01 Steps</h1>
					<h2>Register an account</h2>
					<p>All private information is secure and stored on our encrypted server.</p>
				</div><!-- step -->
			</div>
			<div class="col-sm-4 text-center">
				<div class="step">
					<div class="step-image">
						<%= image_tag ("step2.png"), class:"img-responsive"%>
					</div>
					<h1>02 Steps</h1>
					<h2>Search your desired job</h2>
					<p>Use our area & job sector search engine to find the right job quickly and effectively.</p>
				</div><!-- /.step -->
			</div>
			<div class="col-sm-4 text-center">
				<div class="step">
					<div class="step-image">
						<%= image_tag ("step3.png"), class:"img-responsive"%>
					</div>
					<h1>03 Steps</h1>
					<h2>Send your resume to Woods Recruitment</h2>
					<p>Your CV stored on our secure encrypted server.</p>
				</div><!-- /.step -->
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.tr-steps -->
