-# .tr-testimonial
-#   .container
-#     .testimonial-content
-#       .testimonial-slider
-#         - @testimonials.each do |testimonial|
-#           .testimonial
-#             .media-left
-#               %img.img-responsive{:alt => "images", :src => "images/others/testimonial.png"}/
-#             .media-body
-#               %p= testimonial.description
-#               .testimonial-title
-#                 %h2= testimonial.name
-#                 %p=testimonial.position,
-#                     =testimonial.company

#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    - @testimonials.each do |testimonial|
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
      .carousel-inner
        .carousel-item.active
          %img.d-block.w-100{:alt => "First slide", :src => "..."}/
          .media-body
            %p= testimonial.description
            .testimonial-title
              %h2= testimonial.name
              %p=testimonial.position,
              =testimonial.company
        .carousel-item
          %img.d-block.w-100{:alt => "2 slide", :src => "..."}/
        .carousel-item
          %img.d-block.w-100{:alt => "3 slide", :src => "..."}/
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next
