<div class="tr-breadcrumb bg-image section-before">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div class="page-title">
				<h1>About Us</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->
<div class="page-content">
	<div class="container">
		<div class="col-sm-12">
			<div class="section">
				<span class="tr-title">Who We Are</span>
				<p class="text-justify">We are a recruitment agency based in Chester, in the North West of England.</p>
				<p class="text-justify">Established in 2002 the company has gone from strength to strength by listening to our client needs, finding and supplying companies with the right candidates and we pride ourselves in offering a first class recruitment service at extremely competitive rates! We guarantee to reduce the cost of supplying temporary or permanent staff whilst improving the level of service provided.</p>
				<span class="tr-title">How can we achieve our goals?</span>
				<p class="text-justify">We are passionate about excellent service and value for money.</p>
				<p class="text-justify">We are an independent Recruitment Agency covering the North West and North Wales, without the overheads of a national agency, we have grown organically over the last five years.</p>
				<p class="text-justify">Our consultants are highly trained and have many years recruitment experience and pride themselves in listening to client needs and providing a first class service at highly competitive rates. Read our testimonials to see what our clients have to say about us!</p>
				<span class="tr-title">What do we offer?</span>
				<p class="text-justify">We can supply Permanent and Temporary staff to you and our purpose built database system designed on our website contains a vast number of candidates who have registered for vacancies in the following Industry sectors:<p>
				<ul>
					<li>Commercial</li>
					<li>Industrial</li>
					<li>Manufacturing Engineering</li>
					<li>Construction</li>
					<li>Commercial Department Permanent and Temporary</li>
				</ul>
				<p class="text-justify">Our Commercial Department is able to offer a consultative approach to all your recruitment needs.</p>
				<p class="text-justify">Our experienced consultants are on hand to listen to your requirements and pride themselves in their ability to understand client needs and tailor their approach to fit in with your business.</p>
				<p class="text-justify">We deal with areas of permanent and temporary commercial recruitment as well as permanent senior technical positions in the Manufacturing and Engineering industry.</p>
				<p class="text-justify">We heavily invest in a number of methods to attract individuals to our agency and we take time to listen to their needs to match them effectively to vacancies.</p>
				<p class="text-justify">Further to this investment our own website is designed to capture the candidate’s relevant details by job specification and the area in which they are willing to work. This enables Woods Recruitment to find the right candidate for you within minutes of searching.
				We ensure that all candidates are fully interviewed at our office and our experienced consultants listen to their requirements and are able to test abilities using in­house systems and discuss individual aspirations.</p>
				<span class="tr-title">Industrial/Manufacturing/Engineering/Construction</span>
				<p class="text-justify">Temporary</p>
				<p class="text-justify">We believe that by offering your company a dedicated account manager on call twenty four hours a day seven days a week, we can provide you with a personal service which will enable us to find the right worker or workforce tailored to suit your company’s needs. We have a vast database of candidates to choose from using our specially designed system which quickly enables us find the right person or people for the job. Candidates are carefully selected by assessing their employment history, skills and the type of personality required by our clients.</p>
				<p class="text-justify">Any of our temporary staff that you identify as a permanent employee will be transferred over to your company’s payroll at the end of an agreed period, free of charge!</p>
				<p class="text-justify">Permanent</p>
				<p class="text-justify">Our Commercial department deals with all permanent recruitment for all our industry sectors. Our experienced consultants are on hand to listen to your requirements and will tailor their approach to suit you. We are confident you will be pleased at the service we can provide and the rates we can offer to your business!</p>
			</div>
		</div>
	</div>
</div>
<%= render partial: "pages/add_resume_banner" %>
<%= render partial: "layouts/footer" %>
