<div class="tr-breadcrumb bg-image ">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div class="page-title">
				<h1>About Us</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->
<div class="page-content">
	<div class="container">
		<div class="col-sm-12">
			<div class="section">
				<span class="tr-title"><b>Who We Are</b></span>
				<p class="text-justify">	We are a Recruitment Agency with our Head Office based in Chester, in the North West of England and have several Business Associates working throughout the UK.<br>
				Established in 2004 the company has gone from strength to strength by listening to our clients needs and finding and supplying companies with the right candidates.<br>
				We pride ourselves in offering a first class recruitment service at extremely competitive rates! We guarantee to reduce the cost of supplying temporary and permanent staff whilst improving the level of service provided.</p>
				<span class="tr-title"><b>How we achieve our goals?</b></span>
				<p class="text-justify">We are passionate about excellent service and value for money.</p>
				<p class="text-justify">We have grown organically over the last fifteen years and are passionate about excellent service and value for money.<br>
				Our Business Associates have many years recruitment and marketing experience and pride themselves in listening to client needs and providing a first class service at highly competitive rates.<br>
				Read our <%= link_to "testimonials", testimonials_path%> to see what our clients have to say about us!</p>
				<span class="tr-title"><b>What we offer?</b></span>
				<p class="text-justify">We supply temporary and permanent recruitment to clients in all areas of the UK covering England, Scotland, Wales and Northern Ireland.<br>
				We have a purpose built database system designed on our website containing a vast number of candidates who have registered for vacancies in the following Industry sectors:<p>
				<ul>
					<li>Commercial</li>
					<li> Engineering</li>
					<li>Construction</li>
					<li>Manufacturing</li>
					<li>Industrial</li>
				</ul>
				<p class="text-justify">Our Business Associates are able to offer a consultative approach to all your recruitment needs and are on hand to listen to your requirements. They pride themselves in their ability to understand clients and tailor their approach to fit in with your business.<br>
				We invest heavily in a number of methods to attract individuals to our Agency and have exclusive deals with Indeed, Reed, LinkedIn, Facebook, Twitter and other job sites. Listening to their needs we match them effectively to vacancies.<br>
				Further to this investment our own website is designed to capture the candidate’s relevant details by job specification and the area in which they are willing to work. This enables Woods Recruitment to find the right candidate for you within minutes of searching. We ensure that all candidates are fully interviewed at our offices and our experienced associates are able to test abilities using in-house systems and discuss individual aspirations.</p>

				<span class="tr-title"><b>Engineering/ Manufacturing/ Construction/ Industrial</b></span>
				<p class="text-justify"><b>Temporary</b></p>
				<p class="text-justify">We believe that by offering a dedicated account manager on call twenty four hours a day, seven days a week, we provide a personal service tailored to suit your company’s needs. We have a vast database of candidates to choose from using our specially designed system which quickly enables us to find the right person or people for the job. Candidates are carefully selected by assessing their employment history, skills and the type of personality required by our clients.<br>
				If you would like to take on any of our temporary staff as a permanent employee, they will be transferred over to your company at the end of an agreed period, <b>free of charge!</b></p>

				<p class="text-justify"><b>Permanent</b></p>
				<p class="text-justify">Our experienced associates deal with permanent recruitment for all our industry sectors and are on hand to listen to your requirements and tailor their approach to suit your company's needs.<br>
				We are confident you will be pleased at the service we can provide and the rates we can offer to your business!</p>
			</div>
		</div>
	</div>
</div>
<%= render partial: "pages/add_resume_banner" %>
<%= render partial: "layouts/footer" %>
