<div class="page-content">
	<div class="container">
		<div class="col-sm-12">
			<div class="section">
        <div class="rec mx-auto d-block"></div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>
