<div class="tr-breadcrumb bg-image">
	<div class="container section-ourTeam">
		<div class="breadcrumb-info text-center">
			<div class="avatar mx-auto d-block"></div>
			<div class="page-title">
				<h1>Terms and Conditions</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->


<div class="container section-padding">
	<div class="col-sm-12">
		<div class="section">
      <p>
        The Company is a recruitment business which provides work-finding services to its clients and work-seekers. The Company must process personal data (including sensitive personal data) so that it can provide these services – in doing so, the Company acts as a data controller.
      <br>
      <br>
        You may give your personal details to the Company directly, such as on an application or registration form or via our website, or we may collect them from another source such as a jobs board. The Company must have a legal basis for processing your personal data. For the purposes of providing you with work-finding services and/or information relating to roles relevant to you we will only use your personal data in accordance with this privacy statement. At all times we will comply with current data protection laws.
      </p>
      <ol>
        Contents
        <li>Collection and use of personal data </li>
          <ol type="a">
            <li>Purpose of processing and legal basis</li>
            <li>Legitimate interest</li>
            <li>Statutory/contractual requirement</li>
            <li>Recipients of data</li>
          </ol>
        <li>Information to be provided when data is not collected directly from the data subject </li>
          <ol type="a">
            <li>Categories of data</li>
            <li>Sources of data</li>
          </ol>
        <li>Overseas transfers</li>
        <li>Data retention</li>
        <li>Your rights</li>
        <li>Login files</li>
        <li>Links to external sites</li>
        <li>Sale of the business</li>
        <li>Data security</li>
        <li>Changes to this privacy statement</li>
        <li>Complaints or queries</li>
      </ol>
      <ol>
        <li><b>Collection and use of personal data</b></li>
          <ol type="a">
            <li><b>Purpose of processing and legal basis </b></li>
            <p>The Company will collect your personal data (which may include sensitive personal data) and will process your personal data for the purposes of providing you with work-finding services. This includes for example, contacting you about job opportunities, assessing your suitability for those opportunities, updating our databases, putting you forward for job opportunities, arranging payments to you and developing and managing our services and relationship with you and our clients.</p>
            <p>  If you have opted-in we may also send you marketing information and news via email/ text.  You can opt-out from receiving these at any time by clicking “unsubscribe” when you receive these communications from us.</p>
            <p>In some cases we may be required to use your data for the purpose of investigating, reporting and detecting crime and also to comply with laws that apply to us. We may also use your information during the course of internal audits to demonstrate our compliance with certain industry standards.</p>
            <p>We must have a legal basis to process your personal data. The legal bases we rely upon to offer our work-finding services to you are:</p>
          </p>
          <ul>
            <li>Your consent</li>
            <li>Where we have a legitimate interest</li>
            <li>To comply with a legal obligation that we have</li>
            <li>To fulfil a contractual obligation that we have with you</li>
          </ul>
          <li><b>Legitimate interest</b></li></li>
          <br>
          <p>  This is where the Company has a legitimate reason to process your data provided it is reasonable and does not go against what you would reasonably expect from us. Where the Company has relied on a legitimate interest to process your personal data our legitimate interests is/are as follows:</p>
          <ul>
            <li>Managing our database and keeping work-seeker records up to date; </li>
            <li>Providing work-finding services to you and our clients; </li>
            <li>Contacting you to seek your consent where we need it; </li>
            <li>Giving you information about similar products or services that you have used</li> from us recently.

          </ul>
          <li><b>Statutory/contractual requirement</b></li></li>
          <br>
          <p>The Company has certain legal and contractual requirements to collect personal data (e.g. to comply with the Conduct of Employment Agencies and Employment Businesses Regulations 2003, immigration and tax legislation, and in some circumstances safeguarding requirements.)  Our clients may also require this personal data, and/or we may need your data to enter into a contract with you. If you do not give us personal data we need to collect we may not be able to continue to provide work-finding services to you.  </p>
          <li><b>Recipient/s of data</b></li>
          <p>The Company will process your personal data and/or sensitive personal data with the following recipients:</p>
          <ul>
            <li>Clients (whom we may introduce or supply you to)</li>
            <li>Former employers whom we may seek references from</li>
            <li>Payroll service providers who manage payroll on our behalf or other payment</li> intermediaries whom we may introduce you to
            <li>Other recruitment agencies in the supply chain</li>
          </ul>
        </ol>
        <li><b>Information to be provided when data collected not from the data subject<b></li>



      </ol>
    </div>
  </div>
</div>
