<div class="tr-breadcrumb bg-image">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div class="avatar mx-auto d-block"></div>

			<div class="page-title">
				<h1>Testimonials</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->
<div class="container section-padding">
  <div class="row">
    <%@testimonials.each do |testimonial| %>
    <div class="col-lg-4">
      <div class="card-deck mb-4 text-center ">
        <div class="card mb-4 box-shadow">
          <!-- <div class="card-header">
            <h4 class="my-0 font-weight-normal">< testimonial.name%></h4>
          </div> -->
          <div class="card-body">
            <p><%= testimonial.description%></p>
            <div class="testimonial-title text-center">
              <h2><%= testimonial.name%></h2>
							<p><i><%= testimonial.position%></i> </p>
							<p><%= testimonial.company%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
