.padding-nav {
  padding-left: 20px;
}

#signout {
  color: rgba(255, 255, 255, 0.5);
}
.avatar {
  /* ... */
  width: 900px;
  height: 135px;
  background: image-url("large_logo");
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .avatar {
    /* ... */
    width: 900px;
    height: 135px;
    background: image-url("large_logo");
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .avatar {
    /* ... */
    width: 578px;
    height: 90px;
    background: image-url("med_logo");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .avatar {
    /* ... */
    width: 320px;
    height: 90px;
    background: image-url("xsmall_logo");
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.table-striped > tbody > tr:nth-child(odd) > {
  td, th {
    background-color: #336600;
    color: white;
  }
}

.flyer {
  /* ... */
  width: 769px;
  height: 1090px;
  background: image-url("flyer-large");
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .flyer {
    /* ... */
    width: 769px;
    height: 1090px;
    background: image-url("flyer-large");
    background-repeat: no-repeat;

  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .flyer {
    /* ... */
    width: 600px;
    height: 851px;
    background: image-url("flyer-med");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .flyer {
    /* ... */
    width: 300px;
    height: 425px;
    background: image-url("xs-flyer.png");
  }
}
