.padding-nav {
  padding-left: 20px;
}

#signout {
  color: rgba(255, 255, 255, 0.5);
}
.avatar {
  /* ... */
  width: 900px;
  height: 135px;
  background: image-url("large_logo");
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .avatar {
    /* ... */
    width: 900px;
    height: 135px;
    background: image-url("large_logo");
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .avatar {
    /* ... */
    width: 578px;
    height: 90px;
    background: image-url("med_logo");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .avatar {
    /* ... */
    width: 320px;
    height: 90px;
    background: image-url("xsmall_logo");
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// .table-striped > tbody > tr:nth-child(odd) > {
//   td, th {
//     background-color: #336600;
//     color: white;
//   }
// }

.flyer {
  background-repeat: no-repeat;
  width: 650px;
  height: 921px;
  background: image-url("flyer-large");
  display: block; /*for the img inside your div */
  margin: 0 auto;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .flyer {
    background-repeat: no-repeat;
    width: 650px;
    height: 921px;
    background: image-url("flyer-large");
    display: block; /*for the img inside your div */
    margin: 0 auto;

  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .flyer {
    background-repeat: no-repeat;
    width: 500px;
    height: 709px;
    background: image-url("flyer-med");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .flyer {
    /* ... */
    width: 300px;
    height: 425px;
    background: image-url("xs-flyer.png");
  }
}

.flyer-northern-ireland {
  background-repeat: no-repeat;
  width: 650px;
  height: 921px;
  background: image-url("northern-ireland-large");
  display: block; /*for the img inside your div */
  margin: 0 auto;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .flyer-northern-ireland {
    background-repeat: no-repeat;
    width: 650px;
    height: 921px;
    background: image-url("northern-ireland-large");
    display: block; /*for the img inside your div */
    margin: 0 auto;

  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .flyer-northern-ireland {
    background-repeat: no-repeat;
    width: 500px;
    height: 709px;
    background: image-url("northern-ireland-med");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .flyer-northern-ireland {
    /* ... */
    width: 300px;
    height: 425px;
    background: image-url("northern-ireland-xs");
  }
}


.FlyerA-cameron {
  background-repeat: no-repeat;
  width: 650px;
  height: 921px;
  background: image-url("FlyerA-cameron-large");
  display: block; /*for the img inside your div */
  margin: 0 auto;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .FlyerA-cameron {
    background-repeat: no-repeat;
    width: 650px;
    height: 921px;
    background: image-url("FlyerA-cameron-large");
    display: block; /*for the img inside your div */
    margin: 0 auto;

  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .FlyerA-cameron {
    background-repeat: no-repeat;
    width: 500px;
    height: 709px;
    background: image-url("FlyerA-cameron-med");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .FlyerA-cameron {
    /* ... */
    width: 300px;
    height: 425px;
    background: image-url("FlyerA-cameron-xs");
  }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  border:5px solid #5DDDD3;
  padding:5px;
  height:290px;
  width: 290px;
}

.ico {
  background-repeat: no-repeat;
  width: 830px;
  height: 761px;
  background: image-url("ico.png");
  display: block; /*for the img inside your div */
  margin: 0 auto;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .ico {
    background-repeat: no-repeat;
    width: 830px;
    height: 761px;
    background: image-url("ico.png");
    display: block; /*for the img inside your div */
    margin: 0 auto;

  }
}

/* Mobile Landscape */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .ico {
    background-repeat: no-repeat;
    width: 500px;
    height: 709px;
    background: image-url("ico-med");
  }
}

/* Mobile portrait */
@media only screen and (max-width: 768px) {
  .ico {
    /* ... */
    width: 300px;
    height: 425px;
    background: image-url("xs-ico");
  }
}
