%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{:href => "/"}Home
        %li.nav-item
          %a.nav-link{:href => "/about-us"} About Us
        %li.nav-item
          %a.nav-link{:href => "/contact-us"} Contact Us
        %li.nav-item
          %a.nav-link{:href => "/job-vacancies"} Job Vacancies
    .mx-auto.order-0
      %a.navbar-brand.mx-auto{:href => "/"}
        %img.img-responsive= image_tag("woods_logo.jpg")
      %button.navbar-toggler{"data-target" => ".dual-collapse2", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
    .navbar-collapse.collapse.w-100.order-3.dual-collapse2
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "/candidates/#{current_candidate.id} "} Profile
        %li.nav-item
          %a.nav-link= link_to "Edit Profile", edit_candidate_registration_path(id: current_candidate.id)
        %li.nav-item
        -if current_candidate.present?
          %a.nav-link=link_to "Sign Out", destroy_candidate_session_path, :method => :delete
        -else
          %a.nav-link=link_to "Sign In", new_candidate_session_path
        -#   -if current_candidate.present?
        -# %li.nav-item.dropdown
          -# %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          -#   .i.fa.fa-user
          -# .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          -#   %a.dropdown-item{:href => "/candidates/#{current_candidate.id} "} Profile
          -#   -if current_candidate.present?
          -#     %a.dropdown-item=link_to "Sign Out", destroy_candidate_session_path,:method => :delete
          -#   -else
          -#     %a.dropdown-item
          -#       %nav-link#signout=link_to "Sign In", new_candidate_session_path
