%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "/"}Home
      %li.nav-item
        %a.nav-link{:href => "/job-vacancies"} About Us
      %li.nav-item
        %a.nav-link{:href => "/job-vacancies"} Contact Us
      %li.nav-item
        %a.nav-link{:href => "/job-vacancies"} Job Vacancies
  .mx-auto.order-0
    %a.navbar-brand.mx-auto{:href => "/"}
      %img.img-responsive= image_tag("woods_logo.jpg")
    %button.navbar-toggler{"data-target" => ".dual-collapse2", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
  .navbar-collapse.collapse.w-100.order-3.dual-collapse2
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link.i.fa.fa-user{:href => "/candidates/#{current_candidate.id} "} Profile
      %li.nav-item
      -if current_candidate.present?
        %a.nav-link=link_to "Sign Out", destroy_candidate_session_path,:method => :delete
      -else
        %a.nav-link=link_to "Sign In", new_candidate_session_path

-# %nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
-#   %a.navbar-brand{:href => "#"}
-#     %img.img-responsive= image_tag("woods_logo.jpg")
-#   %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
-#     %span.navbar-toggler-icon
-#   #navbarNav.collapse.navbar-collapse
-#     %ul.navbar-nav
-#       %li.nav-item.active
-#         .nav-link= link_to "Home", root_path
-#         %span.sr-only (current)
-#       %li.nav-item.nav-link= link_to "About Us", about_us_path
-#       %li.nav-item.nav-link= link_to "Contact Us", contact_us_path
-#       %li.nav-item.nav-link= link_to "Job Vacancies", job_vacancies_path
-#     %ul.navbar-nav
-#       .dropdown-menu.dropdown-menu-right.dropdown-default{"aria-labelledby" => "navbarDropdownMenuLink"}
-#         %a.dropdown-item.waves-effect.waves-light{:href => "#"} Action
-#         %a.dropdown-item.waves-effect.waves-light{:href => "#"} Another action
-#         %a.dropdown-item.waves-effect.waves-light{:href => "#"} Something else here
-#         %li.nav-item.nav-link.i.fa.fa-user= link_to "Profile", candidate_path(id: current_candidate.id)
-#         %li.nav-item.nav-link
-#           -if current_candidate.present?
-#             = link_to "Sign Out", destroy_candidate_session_path,:method => :delete
-#           -else
-#           = link_to "Sign In", new_candidate_session_path

-# %header.tr-header
-#   %nav.navbar.navbar-default
-#     .container
-#       .navbar-header
-#         %a.navbar-brand{:href => "/"}
-#           %img.img-responsive= image_tag("woods_logo.jpg")
-#       .navbar-left
-#         %ul.sign-in.tr-list
-#
-#       .navbar-right
-#         %ul.sign-in.tr-list
-#           %li.padding-nav= link_to "ABOUT US", about_us_path
-#           %li.padding-nav= link_to "CONTACT US", contact_us_path
-#           %li.padding-nav= link_to "JOB VACANCIES", job_vacancies_path
-#           %li.padding-nav
-#             %i.fa.fa-user
-#           %li= link_to "PROFILE", candidate_path(id: current_candidate.id)
-#           %li.padding-nav= link_to "EDIT PROFILE", edit_candidate_registration_path(id: current_candidate.id)
-#           %li.padding-nav
-#             -if current_candidate.present?
-#               = link_to "Sign Out", destroy_candidate_session_path,:method => :delete
-#             -else
-#               = link_to "Sign In", new_candidate_session_path -->
