%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
      %ul.navbar-nav.mr-auto
        %button.btn.btn-primary{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"} + New Client
        = render "clients/modal"

    .mx-auto.order-0
      %a.navbar-brand.mx-auto{:href => "/"}
        %img.img-responsive= image_tag("woods_logo.jpg")
      %button.navbar-toggler{"data-target" => ".dual-collapse2", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
    .navbar-collapse.collapse.w-100.order-3.dual-collapse2

      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "/live-clients"} Live Clients
        %li.nav-item
          %a.nav-link{:href => "/dormant-clients"} Dormant Clients
        %li.padding-nav
          %i.fa.fa-user
          = link_to "Sign Out", destroy_manager_session_path,:method => :delete
